* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  display: block;
  background-color: #121212;
  border-radius: 10px;
  margin: 0 2rem;
  border: 1px solid black;
}

.button {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100px;
}
.box {
  width: 300;
  height: 400;
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.box h1 {
  font-size: 1.5rem;
}
.box span {
  font-size: 1.5rem;
}

.score-group {
  width: 100%;
  padding: 1rem;
  background-color: rgb(106, 155, 0);
  border-radius: 5px;
  font-family: monospace;
}

.buttonBox {
  margin: 10px 0;
}

.instruction-box {
  color: white;
}

h1 {
  display: block;
  font-weight: 600;
  margin: 10px 0;
}

p {
  font-size: 1rem;
  line-height: 30px;
}

kbd {
  display: inline-block;
  padding: 0px 10px;
  background-color: black;
}

.speedbox {
  font-size: 1rem;
  color: white;
}
.speedbox p {
  display: block;
}
.speedbox button{
  width: 30px;
  height: 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
}